<h3>Post a Comment</h3>
<div id="commentform">
<%= form_for [ @article, @comment ] do |f| %>
    <p style="font-weight:400;">
        <%= f.label :author, "Your Name", :class => 'cbutton' %>
    </p>
        <%= f.text_field :author %>
        <br />
        <br />
        <br />
    <p>
        <%= f.label :body, "Your Comment", :class => 'cbutton' %><br/>
    </p>
        <%= f.text_area :body %>
        <br />
        <br />

    <%= f.submit 'Post', :class => 'sbutton'%>

<% end %>
</div>